@font-face {
  font-family: 'Bundes-CMS-Icons';
  src:
    url('../fonts/heimat_bist_du_schoener_icons/Bundes-CMS-Icons_cmgmbn.woff2') format('woff2'),
    url('../fonts/heimat_bist_du_schoener_icons/Bundes-CMS-Icons_cmgmbn.ttf') format('truetype'),
    url('../fonts/heimat_bist_du_schoener_icons/Bundes-CMS-Icons_cmgmbn.woff') format('woff'),
    url('../fonts/heimat_bist_du_schoener_icons/Bundes-CMS-Icons_cmgmbn_Bundes-CMS-Icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.bcmsicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Bundes-CMS-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bcmsicon-fw {
  text-align: center;
  width: 1.25em; 
}
.bcmsicon-wirtschaft:before {
  content: "\e919";
}
.bcmsicon-urkundenservice:before {
  content: "\e91a";
}
.bcmsicon-messenger_whatsapp:before {
  content: "\e91b";
}
.bcmsicon-wissenschaft:before {
  content: "\e91c";
}
.bcmsicon-weltkugel:before {
  content: "\e91d";
}
.bcmsicon-weltkugel_server:before {
  content: "\e91e";
}
.bcmsicon-datenbank_server:before {
  content: "\e91f";
}
.bcmsicon-router_2:before {
  content: "\e920";
}
.bcmsicon-router_1:before {
  content: "\e921";
}
.bcmsicon-server_monitor:before {
  content: "\e922";
}
.bcmsicon-firewall:before {
  content: "\e923";
}
.bcmsicon-totenkopf_laptop:before {
  content: "\e924";
}
.bcmsicon-weltkugel_pointer:before {
  content: "\e925";
}
.bcmsicon-modem_wireless:before {
  content: "\e926";
}
.bcmsicon-totenkopf_dokument:before {
  content: "\e927";
}
.bcmsicon-totenkopf_monitor:before {
  content: "\e928";
}
.bcmsicon-cloud:before {
  content: "\e929";
}
.bcmsicon-server:before {
  content: "\e92a";
}
.bcmsicon-totenkopf:before {
  content: "\e92b";
}
.bcmsicon-ton_aus:before {
  content: "\e917";
}
.bcmsicon-ton_ein:before {
  content: "\e918";
}
.bcmsicon-sad_face:before {
  content: "\e915";
}
.bcmsicon-happy_face:before {
  content: "\e916";
}
.bcmsicon-archiv_beschreibung:before {
  content: "\e90e";
}
.bcmsicon-archiv_bild:before {
  content: "\e90f";
}
.bcmsicon-archiv_dia:before {
  content: "\e910";
}
.bcmsicon-foto:before {
  content: "\e911";
}
.bcmsicon-pokal:before {
  content: "\e912";
}
.bcmsicon-video:before {
  content: "\e913";
}
.bcmsicon-zertifikat:before {
  content: "\e914";
}
.bcmsicon-ebenen:before {
  content: "\e90d";
}
.bcmsicon-schriftgroesse:before {
  content: "\e903";
}
.bcmsicon-kontrast:before {
  content: "\e904";
}
.bcmsicon-speiseplan:before {
  content: "\e905";
}
.bcmsicon-navigation_pfeil_links_mittel:before {
  content: "\e906";
}
.bcmsicon-navigation_pfeil_rechts_mittel:before {
  content: "\e907";
}
.bcmsicon-navigation_pfeil_oben_mittel:before {
  content: "\e908";
}
.bcmsicon-navigation_pfeil_unten_mittel:before {
  content: "\e909";
}
.bcmsicon-navigation_pfeil_unten_gross:before {
  content: "\e90a";
}
.bcmsicon-navigation_pfeil_oben_gross:before {
  content: "\e90b";
}
.bcmsicon-rss:before {
  content: "\e90c";
}
.bcmsicon-stern_fill:before {
  content: "\e902";
}
.bcmsicon-organigramm:before {
  content: "\e900";
}
.bcmsicon-erstes_unternehmensjahr:before {
  content: "\e901";
}
.bcmsicon-alert_fragezeichen_fill:before {
  content: "\5e";
}
.bcmsicon-stern_durchgestrichen:before {
  content: "\31";
}
.bcmsicon-return:before {
  content: "\34";
}
.bcmsicon-filter:before {
  content: "\35";
}
.bcmsicon-services_familienbonus-plus:before {
  content: "\36";
}
.bcmsicon-leichter_lesen:before {
  content: "\37";
}
.bcmsicon-select_pfeil:before {
  content: "\38";
}
.bcmsicon-datenschutz:before {
  content: "\39";
}
.bcmsicon-entfernen_fill:before {
  content: "\30";
}
.bcmsicon-hinzufuegen_fill:before {
  content: "\df";
}
.bcmsicon-prozess_abbrechen_fill:before {
  content: "\b4";
}
.bcmsicon-prozess_bestaetigen_fill:before {
  content: "\71";
}
.bcmsicon-kreis_flaeche:before {
  content: "\77";
}
.bcmsicon-text_link_pfeil:before {
  content: "\65";
}
.bcmsicon-themen_steuern_finanzen:before {
  content: "\72";
}
.bcmsicon-themen_soziales:before {
  content: "\74";
}
.bcmsicon-themen_seniorinnen:before {
  content: "\7a";
}
.bcmsicon-themen_menschen_behinderung:before {
  content: "\75";
}
.bcmsicon-themen_leben_oesterreich:before {
  content: "\69";
}
.bcmsicon-themen_jugend:before {
  content: "\6f";
}
.bcmsicon-themen_gesundheit_notfaelle:before {
  content: "\70";
}
.bcmsicon-themen_freizeit_strassenverkehr:before {
  content: "\fc";
}
.bcmsicon-themen_frauen:before {
  content: "\2b";
}
.bcmsicon-themen_familie_partnerschaft:before {
  content: "\61";
}
.bcmsicon-themen_dokumente_recht:before {
  content: "\73";
}
.bcmsicon-themen_bildung_neue_medien:before {
  content: "\64";
}
.bcmsicon-themen_bauen_wohnen_umwelt:before {
  content: "\66";
}
.bcmsicon-themen_arbeit_pension:before {
  content: "\67";
}
.bcmsicon-services_wohnsitzaenderung_2:before {
  content: "\68";
}
.bcmsicon-services_wohnsitzaenderung_1:before {
  content: "\6a";
}
.bcmsicon-services_wahlkarte:before {
  content: "\6b";
}
.bcmsicon-services_reisepass_ablegen:before {
  content: "\6c";
}
.bcmsicon-services_digitaler_babypoint:before {
  content: "\f6";
}
.bcmsicon-services_zustellservice:before {
  content: "\e4";
}
.bcmsicon-services_allgemein:before {
  content: "\23";
}
.bcmsicon-service:before {
  content: "\3c";
}
.bcmsicon-vorteile_zeitersparnis:before {
  content: "\79";
}
.bcmsicon-vorteile_alles_aus_einer_hand:before {
  content: "\78";
}
.bcmsicon-vorteile_rund_um_die_uhr:before {
  content: "\63";
}
.bcmsicon-produkte_videoservice:before {
  content: "\76";
}
.bcmsicon-produkte_statistik:before {
  content: "\62";
}
.bcmsicon-produkte_services:before {
  content: "\6e";
}
.bcmsicon-produkte_rechner:before {
  content: "\6d";
}
.bcmsicon-produkte_publikationen:before {
  content: "\2c";
}
.bcmsicon-produkte_newsletter:before {
  content: "\2e";
}
.bcmsicon-produkte_login:before {
  content: "\2d";
}
.bcmsicon-produkte_gesetze:before {
  content: "\b0";
}
.bcmsicon-produkte_geld:before {
  content: "\21";
}
.bcmsicon-produkte_formulare:before {
  content: "\22";
}
.bcmsicon-produkte_fotoservice:before {
  content: "\a7";
}
.bcmsicon-produkte_app_2:before {
  content: "\24";
}
.bcmsicon-produkte_app:before {
  content: "\25";
}
.bcmsicon-produkte_aemter_und_behoerden:before {
  content: "\26";
}
.bcmsicon-social_media_flickr:before {
  content: "\2f";
}
.bcmsicon-social_media_x:before {
  content: "\28";
}
.bcmsicon-social_media_youtube:before {
  content: "\29";
}
.bcmsicon-social_media_instagram:before {
  content: "\3d";
}
.bcmsicon-social_media_facebook:before {
  content: "\3f";
}
.bcmsicon-bundesregierung-_2:before {
  content: "\60";
}
.bcmsicon-bundesregierung_1:before {
  content: "\41";
}
.bcmsicon-behoerden:before {
  content: "\53";
}
.bcmsicon-alle:before {
  content: "\44";
}
.bcmsicon-gebaerdensprache:before {
  content: "\46";
}
.bcmsicon-content_2:before {
  content: "\47";
}
.bcmsicon-content:before {
  content: "\48";
}
.bcmsicon-nacherfassung_zpr:before {
  content: "\4a";
}
.bcmsicon-smartphone:before {
  content: "\4b";
}
.bcmsicon-news:before {
  content: "\4c";
}
.bcmsicon-email:before {
  content: "\d6";
}
.bcmsicon-postbox:before {
  content: "\c4";
}
.bcmsicon-code:before {
  content: "\27";
}
.bcmsicon-festplatte:before {
  content: "\3e";
}
.bcmsicon-admin:before {
  content: "\59";
}
.bcmsicon-stern:before {
  content: "\58";
}
.bcmsicon-ordner:before {
  content: "\43";
}
.bcmsicon-pin:before {
  content: "\56";
}
.bcmsicon-server_und_cloud:before {
  content: "\42";
}
.bcmsicon-attachment:before {
  content: "\4e";
}
.bcmsicon-datei_excel:before {
  content: "\4d";
}
.bcmsicon-datei_zip:before {
  content: "\3b";
}
.bcmsicon-datei_ppt:before {
  content: "\3a";
}
.bcmsicon-datei_bild:before {
  content: "\5f";
}
.bcmsicon-datei_word:before {
  content: "\e954";
}
.bcmsicon-datei_pdf:before {
  content: "\e955";
}
.bcmsicon-datei_neutral:before {
  content: "\e956";
}
.bcmsicon-telefon:before {
  content: "\e957";
}
.bcmsicon-tag_bookmark:before {
  content: "\e958";
}
.bcmsicon-navigation_pfeil_zurueck:before {
  content: "\e959";
}
.bcmsicon-navigation_pfeil_oben:before {
  content: "\e95a";
}
.bcmsicon-navigation_pfeil_unten:before {
  content: "\e95b";
}
.bcmsicon-navigation_schliessen_klein:before {
  content: "\e95c";
}
.bcmsicon-navigation_pfeil_schliessen_gross:before {
  content: "\e95d";
}
.bcmsicon-navigation_pfeil_rechts_gross:before {
  content: "\e95e";
}
.bcmsicon-navigation_pfeil_links_gross:before {
  content: "\e95f";
}
.bcmsicon-navigation_pfeil_rechts:before {
  content: "\e960";
}
.bcmsicon-navigation_pfeil_links:before {
  content: "\e961";
}
.bcmsicon-media_control_pause:before {
  content: "\e962";
}
.bcmsicon-media_control_stop:before {
  content: "\e963";
}
.bcmsicon-media_control_play:before {
  content: "\e964";
}
.bcmsicon-liste:before {
  content: "\e965";
}
.bcmsicon-produkte_akkreditierung:before {
  content: "\e966";
}
.bcmsicon-speichern:before {
  content: "\e967";
}
.bcmsicon-entfernen:before {
  content: "\e968";
}
.bcmsicon-hinzufuegen:before {
  content: "\e969";
}
.bcmsicon-ladekreisel_2:before {
  content: "\e96a";
}
.bcmsicon-ladekreisel:before {
  content: "\e96b";
}
.bcmsicon-prozess_bestaetigen:before {
  content: "\e96c";
}
.bcmsicon-prozess_abbrechen:before {
  content: "\e96d";
}
.bcmsicon-drucken:before {
  content: "\e96e";
}
.bcmsicon-share:before {
  content: "\e96f";
}
.bcmsicon-abmelden_externer_link:before {
  content: "\e970";
}
.bcmsicon-editieren:before {
  content: "\e971";
}
.bcmsicon-datepicker:before {
  content: "\e972";
}
.bcmsicon-kalender:before {
  content: "\e973";
}
.bcmsicon-lupe:before {
  content: "\e974";
}
.bcmsicon-loeschen:before {
  content: "\e975";
}
.bcmsicon-alert_achtung_fill:before {
  content: "\e976";
}
.bcmsicon-alert_success_fill:before {
  content: "\e977";
}
.bcmsicon-alert_fehler_fill:before {
  content: "\e978";
}
.bcmsicon-alert_info_fill:before {
  content: "\e979";
}
.bcmsicon-alert_fehler_ohne_kreis:before {
  content: "\e97a";
}
.bcmsicon-alert_info:before {
  content: "\e97b";
}
.bcmsicon-alert_fragezeichen:before {
  content: "\e97c";
}
.bcmsicon-alert_fehler:before {
  content: "\e97d";
}
.bcmsicon-alert_success:before {
  content: "\e97e";
}
.bcmsicon-alert_tipp:before {
  content: "\e97f";
}
.bcmsicon-alert_achtung:before {
  content: "\e980";
}
.bcmsicon-toggle_ein:before {
  content: "\e981";
}
.bcmsicon-toggle_aus:before {
  content: "\e982";
}
.bcmsicon-unlock:before {
  content: "\e983";
}
.bcmsicon-lock:before {
  content: "\e984";
}
.bcmsicon-pin_code:before {
  content: "\e985";
}
.bcmsicon-touch_id:before {
  content: "\e986";
}
.bcmsicon-foto_id:before {
  content: "\e987";
}
.bcmsicon-settings_profil_verwalten:before {
  content: "\e988";
}
.bcmsicon-user_benachrichtigung_teil_3:before {
  content: "\e989";
}
.bcmsicon-user_benachrichtigung_teil_2:before {
  content: "\e98a";
}
.bcmsicon-user_benachrichtigung_teil_1:before {
  content: "\e98b";
}
.bcmsicon-user_login_teil_3:before {
  content: "\e98c";
}
.bcmsicon-user_login_teil_2:before {
  content: "\e98d";
}
.bcmsicon-user_login_teil_1:before {
  content: "\e98e";
}
.bcmsicon-user_abmelden_teil_3:before {
  content: "\e98f";
}
.bcmsicon-user_abmelden_teil_2:before {
  content: "\e990";
}
.bcmsicon-user_abmelden_teil_1:before {
  content: "\e991";
}
.bcmsicon-user_hinzufuegen_teil_3:before {
  content: "\e992";
}
.bcmsicon-user_hinzufuegen_teil_2:before {
  content: "\e993";
}
.bcmsicon-user_hinzufuegen_teil_1:before {
  content: "\e994";
}
.bcmsicon-user_benachrichtigung_neu:before {
  content: "\e995";
}
.bcmsicon-user_abmelden:before {
  content: "\e996";
}
.bcmsicon-user_login:before {
  content: "\e997";
}
.bcmsicon-user_hinzufuegen:before {
  content: "\e998";
}
.bcmsicon-user:before {
  content: "\e999";
}
.bcmsicon-menue:before {
  content: "\e99a";
}
.bcmsicon-dashboard:before {
  content: "\e99b";
}
.bcmsicon-breadcrumb_home:before {
  content: "\e99c";
}
.bcmsicon-success_strong:before {
  content: "\e92e";
}
.bcmsicon-social_media_linkedin:before {
  content: "\e930";
}
.bcmsicon-signatur:before {
  content: "\e92f";
}
.bcmsicon-social_media_vimeo:before {
  content: "\e93f";
}
.bcmsicon-anmelden:before {
  content: "\e940";
}
.bcmsicon-ausweise:before {
  content: "";
}
.bcmsicon-pruefen:before {
  content: "";
}
.bcmsicon-vorzeigen:before {
  content: "";
}
.bcmsicon-recht:before {
  content: "";
}
